<div *ngIf="type == 'isDeliverable'">
    <h2 mat-dialog-title>Add Deliverable</h2>
    <mat-divider></mat-divider>
    <br/>
    <mat-dialog-content class="mat-typography">
        <form (ngSubmit)="onSubmitDeliverable(Deliverable)" #Deliverable="ngForm">
        <div class="form-group row">
            <mat-form-field class="col-sm-6"  [floatLabel]="'always'">
                <mat-label>Stage</mat-label>
                <mat-select [(ngModel)]="StageId" name="stageId" required
                    #stageId="ngModel">
                    <mat-option *ngFor="let stage of lstStages" [value]="stage.StageId">
                        {{stage.StageName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-sm-6">
                <mat-label>Deliverable Name</mat-label>
                <input matInput  [(ngModel)]="DeliverableName" name="name"
                    required #name="ngModel">
            </mat-form-field>
        </div>
        <div class="form-group row">      
            <mat-form-field class="col-sm-12">
                <mat-label>Deliverable Description</mat-label>
                <input matInput [(ngModel)]="DeliverableDesc" name="desc"
                    required #desc="ngModel">
            </mat-form-field>
         
        </div>
       
        <div class="row col-sm-12">
            <div class="col-sm-4"></div>
            <button type="submit" mat-raised-button class="col-sm-2 ms-2"
                style="background-color: #006ab4; color: white;">Save</button>
            <a mat-raised-button  focusable="false" style="background-color: #dc3545; color: white; text-decoration: none;" 
            class="col-sm-2 ms-2" [mat-dialog-close]="true" >Cancel</a>
        </div>
        </form>
    </mat-dialog-content>
</div>
<div *ngIf="type == 'isCheckList'">
    <h2 mat-dialog-title>Add Check List</h2>
    <mat-divider></mat-divider>
    <br/>
    <mat-dialog-content class="mat-typography">
        <form (ngSubmit)="onSubmitCheckList(CheckList)" #CheckList="ngForm">
        <div class="form-group row">
            <mat-form-field class="col-sm-6"  [floatLabel]="'always'">
                <mat-label>Stage</mat-label>
                <mat-select [(ngModel)]="StageId" name="stageId" required
                    #stageId="ngModel">
                    <mat-option *ngFor="let stage of lstStages" [value]="stage.StageId">
                        {{stage.StageName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-sm-6"  [floatLabel]="'always'">
                <mat-label>Deliverable</mat-label>
                <mat-select [(ngModel)]="DelivebleId" name="delivebleId" required
                    #delivebleId="ngModel">
                    <mat-option *ngFor="let deliverible of lstDeliveribles" [value]="deliverible.DelivebleId">
                        {{deliverible.DelivebleName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group row">   
            <mat-form-field class="col-sm-6">
                <mat-label>Check List Name</mat-label>
                <input matInput  [(ngModel)]="CheckListName" name="chkname"
                    required #chkname="ngModel">
            </mat-form-field>   
            <mat-form-field class="col-sm-6">
                <mat-label>Check List Description</mat-label>
                <input matInput [(ngModel)]="CheckListDesc" name="chkdesc"
                    required #chkdesc="ngModel">
            </mat-form-field>
         
        </div>
        <div class="form-group row">      
            <mat-form-field class="col-sm-12">
                <mat-label>Adjuster Value</mat-label>
                <input matInput [(ngModel)]="AdjusterValue" name="adjval"
                    required #adjval="ngModel">
            </mat-form-field>
         
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-4"></div>
            <button type="submit" mat-raised-button class="col-sm-2 ms-2"
                style="background-color: #006ab4; color: white;">Save</button>
                <a mat-raised-button  focusable="false" style="background-color: #dc3545; color: white; text-decoration: none;" 
                class="col-sm-2 ms-2" [mat-dialog-close]="true" >Cancel</a>
        </div>
        </form>
    </mat-dialog-content>
</div>
<div *ngIf="type == 'isRole'">
    <h2 mat-dialog-title>Add Check List</h2>
    <mat-divider></mat-divider>
    <br/>
    <mat-dialog-content class="mat-typography">
        <form (ngSubmit)="onSubmitCheckList(CheckList)" #CheckList="ngForm">
        <div class="form-group row">
            <mat-form-field class="col-sm-6"  [floatLabel]="'always'">
                <mat-label>Stage</mat-label>
                <mat-select [(ngModel)]="StageId" name="stageId" required
                    #stageId="ngModel">
                    <mat-option *ngFor="let stage of lstStages" [value]="stage.StageId">
                        {{stage.StageName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-sm-6"  [floatLabel]="'always'">
                <mat-label>Deliverable</mat-label>
                <mat-select [(ngModel)]="DelivebleId" name="delivebleId" required
                    #delivebleId="ngModel">
                    <mat-option *ngFor="let deliverible of lstDeliveribles" [value]="deliverible.DelivebleId">
                        {{deliverible.DelivebleName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group row">   
            <mat-form-field class="col-sm-6"  [floatLabel]="'always'">
                <mat-label>Check List</mat-label>
                <mat-select [(ngModel)]="CheckListId" name="checkListId" required
                    #checkListId="ngModel">
                    <mat-option *ngFor="let checkList of lstCheckLists" [value]="checkList.CheckListId">
                        {{checkList.CheckListName}}</mat-option>
                </mat-select>
            </mat-form-field>   
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-4"></div>
            <button type="submit" mat-raised-button class="col-sm-2 ms-2"
                style="background-color: #006ab4; color: white;">Save</button>
                <a mat-raised-button  focusable="false" style="background-color: #dc3545; color: white; text-decoration: none;" 
                class="col-sm-2 ms-2" [mat-dialog-close]="true" >Cancel</a>
        </div>
        </form>
    </mat-dialog-content>
</div>
<!-- <app-spinner [showSpinner]="isLoading"></app-spinner> -->