
.btnSave {
    background-color: #006ab4;
    color: white !important;
  }

  .mat-header-cell,
.mat-sort-header {
  background-color: #006ab4 !important;
  color: #ffffff !important;
  font-size: 15px !important;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

/* .mat-cell,
.mat-footer-cell {
  font-family: Roboto !important;
} */

tr.mat-header-row {
  height: 45px !important;
}
